body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #313131;
  color: #ededed;
  margin: 0;
  padding: 20px;
}

#game-layout {
  display: flex; 
  justify-content: center; 
  align-items: flex-start; 
  gap: 40px; 
  width: 90%; 
  max-width: 900px; 
  margin-top: 20px;
}

#left-column {
  flex: 1; 
  min-width: 300px; 
  text-align: center;
  order: 1;
}

#right-column {
  flex: 1; 
  min-width: 350px; 
  text-align: center;
  order: 2; 
}

#upgrades-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #414040;
  width: 100%;
  box-sizing: border-box; 
  margin-top: 0;
}

@media (max-width: 768px) {
  #game-layout {
    flex-direction: column; 
    gap: 20px;
  }

  #left-column,
  #right-column {
    min-width: unset;
    width: 100%;
  }
}

#score-container {
  font-size: 2.5em;
  margin-bottom: 1vh;
  margin-top: 1vh;
  color: #effbfd; 
  font-weight: bold;
}

#caille-image {
  cursor: pointer;
  width: 250px; 
  height: auto;
  border: 5px solid transparent;
  border-radius: 50%;
  transition: transform 0.1s, box-shadow 0.1s;
}

#caille-image:active {
  transform: scale(0.95);
  box-shadow: 0 0 15px rgba(122, 0, 255, 0.8);
}

#upgrades-container {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  width: 90%;
  max-width: 400px;
}

.upgrade-item h3 {
  margin-top: 0;
}

.upgrade-button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
  margin: 1vh 1vh 3vh 1vh;
}

.upgrade-button:hover:not(:disabled) {
  background-color: #0056b3;
}

.upgrade-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.floating-caille-image {
  position: absolute;
  width: 50px;
  height: auto;
  border-radius: 25%;
  z-index: 1000;
  pointer-events: none;
  animation: floatUpAndFade 1.2s cubic-bezier(0.17, 0.84, 0.44, 1) forwards;
}

@keyframes floatUpAndFade {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-250px) scale(0.6) rotate(15deg);
  }
}


